$yellow: rebeccapurple;

@mixin margenes ($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $yellow;
    color: whitesmoke;
    @include margenes(50px, 20px)
}

.footer {
    padding: 10px 10px 0 10px;
    background-color: $yellow;
    margin-bottom: 0px;
    margin-top: 10px;
    color: whitesmoke;
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
}